
#gem-header {
  padding: 0 8px;
  line-height: 42px;
  height: 42px;
  text-align: right;
  background: $colorPurple;

  a {
    font-size: 16px;
    padding: 5px 10px;
  }

  a, a:visited {
    padding: 5px;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;;
    color: #fff;
  }

  #logo {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -50px;
    padding: 0;
    width: 97px;
  }

  .header-menu {
    margin-top: 11px;
    float: left;
    width: 30px;
  }
  
  .header-avatar {
    img {
      margin-bottom: 2px;
    }
  }

  &.version-1 {
    .header-avatar {
      line-height: normal;
      margin-top: 5px;;
      float: left;
      width: 25px;
    }
  }

}

.banner__birthday {
  background: #f3f4f1;
}

.section-nav {
  background-color: $colorPurple;
  padding: 0 1em;
  input, input + * {
    display: none;
  }
  input:checked + * {
    display: block;
 }
 &.version-1 {
   padding: 0 10px;
   .section-nav-list {
     text-align: left;
     padding: 0;
   }
   .section-nav-list__item {
     padding: 5px;
   }
   .section-nav-list__anchor {
     font-size: $font-x-medium;
   }
 }
}

.section-nav-list {
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding: 0 0 10px;
  list-style-type: none;
}
.section-nav-list__item {
  display: inline-block;
  padding: 5px 10px;
}
.section-nav-list__anchor {
  text-decoration: none;
  font-size: $font-medium;
  font-weight: 600;
  display: block;
  color: $colorWhite;
  border-bottom: 2px solid $colorPurple;
  &:hover, &.selected {
    color: $colorWhite;
    border-color: $colorWhite;
  }
  &.yellow {
    color: $colorYellow;
    &:hover {
      border-color: $colorYellow;
    }
  }
  &.truq {
    color: $colorTurq;
    &:hover {
      border-color: $colorTurq;
    }
  }
  &.orange {
    color: $colorOrange;
    &:hover {
      border-color: $colorOrange;
    }
  }
  &.pink {
    color: $colorPink;
    &:hover {
      border-color: $colorPink;
    }
  }
}

.section-tag-header {
  text-align: center;
  background: $colorWhite;
  margin: 5px 10px;
  label {
    font-weight: 100;
    font-size: 12px;
    color: $colorPurple;
    text-transform: uppercase;
  }
}

.section-tag-nav {
  background-color: $colorWhite;
  padding: 0 2em;
  input, input + * {
    display: none;
  }
  input:checked + * {
    display: block;
 }
}
.section-tag-nav-list {
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin: 0;
  padding: 0 0 10px;
  list-style-type: none;
}
.section-tag-nav-list__item {
  display: inline-block;
  padding: 2px 5px;
}
.section-tag-nav-list__anchor {
  text-transform: lowercase;;
  text-decoration: none;
  font-size: $font-small;
  font-weight: 100;
  display: block;
  color: $colorPurple;
  &:hover {
    color: $colorBlack;
  }
  &:before {
    content: "#";
    margin-right: 3px;
  }
}
.chevron {
  position: absolute;
  margin: 8px 0px 0px 5px;
  display: inline-block;;
  height: 12px;/*height should be double border*/
}
.chevron:before,
.chevron:after {
  position: absolute;
  display: inline-block;;
  content: "";
  border: 6px solid transparent;/*adjust size*/
}
/* Replace all text `top` below with left/right/bottom to rotate the chevron */
.chevron:before {
  top: 0;
  border-top-color: $colorPurple;/*chevron Color*/
}
.chevron:after {
  top: -3px;/*adjust thickness*/
  border-top-color: #fff;/*Match background colour*/
}
