//Font Size
$font-x-small       :     8px;
$font-small         :     14px;
$font-x-medium      :     16px;
$font-medium        :     18px;
$font-large         :     20px;
$font-x-large       :     32px;
$font-xx-large      :     40px;

// Typography

$font-family-sans-serif: "TwCenMT-Regular", ArialMT, Arial, sans-serif;
$font-family-TwCentBold: "TwCenMT-Bold", Arial-BoldMT, Arial, sans-serif;
$font-family-avenir-ot: "Avenir", ArialMT, Arial, sans-serif;
$font-family-avenirBold: "AvenirBold", Arial-BoldMT, Arial, sans-serif;



// Colour - defaults

$colorFirst: #A4EED2; 
$colorSecond: #FFFC80; 
$colorThird: #FCAB88; 
$colorFourth: #333;

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #666666;
$colorWhiteSmoke: #ececec;

$colorPurple: #7300FF;
$colorYellow: #FFFC80;
$colorTurq: #A4EED2;
$colorOrange: #FCAB88; 
$colorPink: #FF87D9; 
