.footer-languages {
  color: $colorPurple;
  padding: 10px 0 0 10px;
}

.languages__item {
  color: $colorPurple;
  padding: 0 3px;
  font-size: 15px;
}

.languages__item--active {
  text-decoration: underline;
}
#gem-footer {
  a {
    text-decoration: none;
  }
  .left {
      float: left;
      width: 50%;
  }
  .right {
      float: right;
      width: 50%;
  }
  img {
      max-width: 100%;
      height: auto;
  }
  .group:after {
      content:"";
      display: table;
      clear: both;
  }
  @media screen and (max-width: 280px) {
      .left, .right {
          float: none;
          width: auto;
      }
  }

}