
.language-container {
  text-align: center;
  padding: 0 8px;
  line-height: 20px;
  background: #F0F2F5;

  a, a:visited {
    font-size: 11px;
    color: #A3A7AE;
  }
  a.active {
    color: #4E5358;
  }
}

.back-to-top {
  margin: 16px 8px;
  font-size: 11px;

  a {
    color: #141414;
    text-decoration: underline;
  }
}
