.article-preview {

  .image {
    display: block;
    position: relative;

    // this is an icon that's displayed on the section list in the
    // homepage.
    .section-image {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 40px;
      width: 40px;
      display: block;
    }
  }

  .text {
    .section-title {
      font-family: Arial, sans-serif;
      font-size: 12px;
    }

    h3 {
      font-family: Arial, sans-serif;
      font-size: $font-x-medium;
      font-weight: 600;
      a { color: #4f4c54; }
    }
    p {
      margin-top: 0;
      color: #5c5c5c;
    }
  }

  .article-footer {
    position: relative;
    
    .article-footer-tag {
      display: inline-block;
      .article-footer-tag-list {
        width: 100%;
        font-size: 13px;
        margin: 0;
        padding: 0 0 10px;
        list-style-type: none;
      }
      .article-footer-tag-list__item {
        display: inline-block;
      }
      .article-footer-tag-list__anchor {
        text-transform: lowercase;;
        text-decoration: none;
        font-size: $font-small;
        font-weight: 100;
        display: block;
        color: $colorPurple;
        &:hover {
          color: $colorBlack;
        }
        &:before {
          content: "#";
          margin-right: 3px;
        }
      }
    }
  }
  
  
  .comment-count  {
    position: absolute;
    right: 10px;
    bottom: 3px;
    display: inline-block;
    height: 25px;
  }
}

.article-list .article-preview  {
  img {
    width: 100%;
  }
  h3 {
    margin: 0 0 9px 0;
  }
  p {
    margin: 0;
  }
}

.article-list  {
  overflow: hidden;

  .article-preview {
    padding: 0;
    position: relative;
    height: 100%;
    margin-bottom: 10px;
    color: #000;
    border-bottom: 4px solid #edf0f2;

    .image {
      display: inline-block;
      width: 30%;
      vertical-align: top;
    }

    .text {
      display: inline-block;
      width: 60%;
      margin: 0;
      .section-title {
        margin: 0 0 6px 0;
        font-family: Arial, sans-serif;
      }

      h3 {
        margin: 0;
        line-height: $font-x-medium;
      }
      p {
        margin: 0;
        font-size: $font-small;
        line-height: $font-small;
      }
    }
  }
  .article-footer {
    position: absolute;
    bottom: 0;
    width: 60%;
  }
}


// Homepage.
.template-main {
  #article-hero {
    .text {
      margin: 0 16px;
      position: relative;

      .section-title {
        position: absolute;
        top: -40-15px;
        left: -16px;
        height: 40px;
        line-height: 40px;
        background: #ed008c;
        font-size: 1em;
        font-weight: normal;
        padding: 0 16px;

        a { color: #fff; }
      }

      p { font-size: 1.125em; }
    }
  }


}

.article .article-preview,
#article-hero {
  .image {
    img {
      margin: 0 0 15px 0;
    }
  }

  .text {

    .section-title a {
      font-size: 16px;
    }

    h3 {
      font-size: 26px;
      line-height: 32px;
      margin: 0 0 12px 0;
    }

    p {
      margin: 0 0 10px 0;
    }

  }
}

.template-main .article-list,
#article-hero {
  &:after {
    clear: both;
    display: block;
    content: " ";
    border-bottom: 4px solid #EDF0F2;
    margin: 10px 0;
  }
}
#article-hero {
  .article-preview{
    .text {
      position: relative;
    }
    .comment-count {
      right: 2px;
      bottom: 0;
    }
  }
}
